.hero {
    position: relative;
    height:auto;
    min-height: 100%;
    bottom: 0;
    top: 0;
    margin-bottom:0px;
    background-color: rgb(85, 44, 16);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: white;

    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}


body, html{
  background-color: orange;
}



#hidden-link-styles {
  text-decoration: none;
  padding:0px;
  margin:0px;
  color: white;
  cursor: pointer;

}

.overlay {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.384);
}
.card-img-overlay:hover > .overlay {
  background-color: rgba(0, 0, 0, 0.555);
}

.card {
  border-radius: 0%;
  height: 500px
}
.card-group {
  padding: 0px;
  margin:0px auto;
  border-radius: 4px;
}
.card-img {
  background-size: cover;
  object-fit: cover;
  height: 100%;
}

.gray-img {
  height: 100%;
  opacity: 0;
}
.card-img-overlay {
  top: 30%;
  bottom: 0;
}

.article-img {
  position: relative;
  max-height: 200px;

}
.heading-1 {
  font-size: 8em;
  margin-bottom: 0px;
  padding: .2em;
}
.search-text {
 padding: 1.2em;
 text-decoration: to-upper-case($string: "");

}

.spinner {
  position: absolute;
  z-index: 3;
  transform: translateY(50%), translateX(50%);
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: multiply;

}

.jumbotron {
  position: relative;
  margin: 0px;
  margin-bottom: -8em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.news-conatiner {
  margin: 0px;
  padding: 0px;
}
.no-results {
  color: black;
}



.jumbo {
  position: fixed;
  opacity: .6;
  width: 100%;
  margin: -30px auto;
  padding: 0;
  mix-blend-mode: screen;
  background: repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
