<!--The content below is only a placeholder and can be replaced.-->

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
          <a class="navbar-brand" href="#">  <i class="fas fa-newspaper"></i> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLinkActive="active"[routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"[routerLink]="['nytnews']">News</a>
          </li>
          <li class="nav-item">
              <i [ngbTooltip]="help"  placement="bottom" class="nav-link fas fa-info-circle"></i>
              <ng-template #help>
                  <p>
                    Filter down a search with either a `Search Query` or by selecting a category under `News Desk`. You can leave one or the other fields empty and then filter down by page for results. 
                  </p>
              </ng-template>
            </li>
            <li class="nav-item">
              <select class="custom-select" (change)="_jq.toggleShow($event.target.value)">
                <option selected>Choose News Outlet</option>
                <option value=".nyt-search-container">New York Times</option>
              </select>
            </li>
        </ul>
        <div class="nyt-search-container">
            <app-ntysearch></app-ntysearch>
        </div>
      </div>
    </nav>


 
    <main id="backdrop" role="main"[@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
    </main>

