
body, html {
    height: 100%;

}

.heading-1 {
    font-size: 10rem;
    margin-bottom: 0px;
}
#backdrop {
    background-color: white;
}
.footer {
    position:fixed;
    height: 25px;
    width: 100%;
    bottom: 0;
    background-color: rgb(197, 197, 197);
}
