.hero {
    position: relative;
    font-weight: bold;
    height:auto;
    min-height: 100%;
    bottom: 0;
    top: 0;
    margin-bottom:0px;
    // background-color: rgb(85, 44, 16);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: rgb(58, 58, 58);
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(45deg, rgb(68, 68, 68) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

.heading-1 {
    mix-blend-mode: multiply;
    font-size: 8rem;
    margin-bottom: 0px;

}
h2 {
    font-weight: 700;
}

h2::after {
    content: "\A";
    white-space: pre;

}

.jumbo {
    position: fixed;
    opacity: .6;
    width: 100%;
    margin: -30px auto;
    padding: 0;
    mix-blend-mode: screen;
    background: repeat;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
