.hero {
    position: relative;
    font-weight: bold;
    height:auto;
    min-height: 100%;
    bottom: 0;
    top: 0;
    margin-bottom:0px;
    // background-color: rgb(85, 44, 16);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: rgb(58, 58, 58);
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.heading-1 {
    mix-blend-mode: multiply;
    font-size: 8rem;
    margin-bottom: 0px;

}
h2 {
    font-weight: 700;
}

h2::after {
    content: "\A";
    white-space: pre;

}

.jumbo {
    position: fixed;
    opacity: .6;
    width: 100%;
    margin: -30px auto;
    padding: 0;
    mix-blend-mode: screen;
    background: repeat;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
